.display-field {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.text-gray {
    color: gray;
}

@media only screen and (max-width:600px) {
    .display-field {
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 4px;
        padding: 0 10px;
    }
    p{
        font-size: 14px;
    }
}