.btn-time-container {
    margin-top: 15px;
    background-color: aliceblue;
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
}
.btn-time {
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-time:hover{
    color: white;
    background-color: blueviolet;
}
.btn-time:active {
    background-color: blueviolet;
}

@media only screen and (max-width: 600px){
    .btn-time-container {
        margin-top: 10px;
        padding: 10px 6px;
    }
    .btn-time {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .heading-secondary{
        font-size: 14px;
        margin-bottom: 5px;
    }
}